.extended {
    height: 150px;
    backdrop-filter: blur(3px);
    .cards {
        display: flex;
        justify-content: center;
        gap: 25px;
        width: 100%;
        padding: 10px;
        #hour3 {
            margin-right: 50px;
        }
    }
}

.card {
    padding: 25px;
    height: 125px;
    width: max(80px, 50%);
    background-color: rgba(255, 255, 255, 0.512);
    border-radius: 25px;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;

    img {
        max-width: 60%;
    }
    span {
        font-size: 2.5rem;
        color: white;
        text-shadow: 3px 3px 10px black;
    }
    p {
        position: absolute;
        top: -30px;
        font-size: 1.5rem;
        left: 10px;
        color: white;
        text-shadow: 3px 3px 10px black;
    }
}

@media only screen and (max-width: 900px) {
    #hour3,
    #day3 {
        display: none;
    }
    #hour2 {
        margin-right: 50px;
    }
}

@media only screen and (max-width: 1300px) {
    .card span {
        font-size: 1.5rem;
    }
}
