header {
    display: flex;
    padding: 15px;
    gap: 20px;
    flex-direction: column;

    color: white;
    .upper,
    .lower {
        display: flex;
        flex-direction: row;
    }
    background-color: #784ba0;
    background-image: linear-gradient(198deg, #784ba0 32%, #2b86c5 98%);
}

.upper {
    padding: 0px 20px;
    h1 {
        flex-grow: 1;
    }
}

.lower {
    justify-content: center;
    h1 {
        font-size: 5rem;
    }
    i {
        position: absolute;
    }
}
