header {
    display: flex;
    padding: 15px;
    gap: 20px;
    flex-direction: column;

    color: white;
    .upper,
    .lower {
        display: flex;
        flex-direction: row;
    }
    background-image: linear-gradient(
        to bottom,
        rgb(74, 9, 81),
        rgb(170, 23, 167),
        transparent
    );
}

.upper {
    padding: 0px 10px;
    .logo {
        flex-grow: 1;
        display: flex;
        gap: 10px;
        img {
            width: 50px;
        }
    }
}

.lower {
    justify-content: center;
    h1 {
        font-size: 5rem;
    }
    i {
        position: absolute;
    }
}

.border {
    height: 80px;
}

.upper input {
    border: solid 3px white;
    background-color: rgb(116, 26, 126);
    color: white;
    padding: 5px 15px;
    border-radius: 25px;
    font-size: 1rem;
    width: min(30vw, 350px);
    &:focus {
        outline: none;
    }
    &::placeholder {
        color: rgba(255, 255, 255, 0.482);
    }
}
