header {
    display: flex;
    padding: 15px;
    gap: 20px;
    flex-direction: column;

    color: white;
    .upper,
    .lower {
        display: flex;
        flex-direction: row;
    }
    background-image: linear-gradient(
        to bottom,
        rgb(74, 9, 81),
        rgb(170, 23, 167),
        transparent
    );
}

.upper {
    padding: 0px 10px;
    .logo {
        flex-grow: 1;
        display: flex;
        gap: 10px;
        img {
            width: 50px;
        }
    }
}

.lower {
    justify-content: center;
    h1 {
        font-size: 5rem;
    }
    i {
        position: absolute;
    }
}

.border {
    height: 80px;
}
